<mat-card class="large-card" *ngIf="lastMoods.length >= 2">
  <mat-card-header>
    <mat-card-title>Mood over time</mat-card-title>
  </mat-card-header>
  <mat-card-content height="5em" width="5em">
    <ngx-charts-line-chart
      [results]="lineChartData"
      [view]="view"
      xAxis="true"
      yAxis="true"
      showYAxisLabel="true"
      yAxisLabel="My Mood"
      [yAxisTickFormatting]="moodEnumToString"
      autoScale="true"
      timeline="true"
      seriesTooltipTemplate="tooltipTemplate"
      tooltipTemplate="tooltipTemplate"
      (window:resize)="onResize($event)"
    >
    <ng-template #tooltipTemplate let-model="model">
      <p>{{model.name | timeago: live}} you were feeling {{moodEnumToString(model.value)}}</p>
    </ng-template>

    <ng-template #seriesTooltipTemplate let-model="model">
      <p *ngFor="let series of model">{{moodEnumToString(series.value)}}</p>
    </ng-template>

    </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>
