<mat-card class="large-card">
  <mat-card-header>
    <mat-card-title>Your moods</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="mood-table">
      <thead>
        <th>Mood</th>
        <th>Time</th>
      </thead>
      <tbody>
        <tr *ngFor="let mood of lastMoods">
          <td>{{ moodEnumToString(mood.mood) }}</td>
          <td>{{ mood.time | timeago: live }}</td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/new">
      <mat-icon>add</mat-icon>
      Add mood
    </button>
  </mat-card-actions>
</mat-card>

<mat-card class="large-card">
  <mat-card-header>
    <mat-card-title>Mood over time</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-line-chart
      [results]="lineChartData"
      xAxis="true"
      yAxis="true"
      showYAxisLabel="true"
      yAxisLabel="My Mood"
      autoScale="true"
      timeline="true"
    >
    </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>
