:root {
  --spacing: 24px;
  --min-card-width: 250px;
}

.home-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 24px;
  margin: 20px;
}

.grid-tile {
  overflow: hidden;
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .home-layout {
    grid-template-columns: 1fr;
  }
}

.mood-table {
  border-collapse: collapse;
  text-align: center;
  width: 80%;
  margin: 0 auto;

  td {
    border-width: 0.3px 0px 0.3px 0px;
    border-color: black;
    border-style: solid;
    padding: 10px;
  }

  tr:nth-child(even) {
    background-color: rgb(247, 247, 247);
  }
}

.floating-button {
  position: fixed;
  right: 10vmin;
  bottom: 10vmin;
}

.greeting {
  p {
    font-size: 2.5em;
    margin: 20px;
    padding: 15vw;
    text-align: center;
    vertical-align: middle;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
