<mat-tab-group>
  <mat-tab label="Notification Settings">
    <mat-card>
      <mat-card-content>
        <mat-selection-list #notificationsList>
          <h3 mat-subheader>Scheduled Notification Times</h3>
          <mat-list-option
            *ngFor="let notif of existingNotifications"
            [attr.id]="notif"
          >
            {{ notif / 60 | floor }}:{{ notif % 60 | number: '2.0-0' }}
          </mat-list-option>
        </mat-selection-list>
        <button
          mat-raised-button
          color="primary"
          [disabled]="notificationsList.selectedOptions.selected.length === 0"
          (click)="removeNotifications()"
        >
          Remove Selected
        </button>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input
            matInput
            type="time"
            placeholder="Time of notification"
            #newNotificationTimeInput
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addNotification()">
          Add
        </button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <mat-tab label="User Settings">
    <ngx-auth-firebaseui-user></ngx-auth-firebaseui-user>
  </mat-tab>
  <mat-tab label="Data Export">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Data Export</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button mat-raised-button color="primary" (click)="exportMoodsAsJson()">
          <mat-icon>get_app</mat-icon>
          Export JSON Mood Data
        </button>

        <button mat-raised-button color="primary" (click)="exportMoodsAsCSV()">
          <mat-icon>get_app</mat-icon>
          Export CSV Mood Data
        </button>

        <button mat-raised-button color="primary" (click)="exportKeywordsAsJson()">
            <mat-icon>get_app</mat-icon>
            Export JSON Keyword Data
          </button>

        <input
          #jsonKeywordInput
          hidden
          type="file"
          (change)="importKeywordJSON($event)"
          placeHolder="Upload JSON Data"
          accept=".json"
          single
        />
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="jsonKeywordInput.click()"
        >
          <mat-icon>file_upload</mat-icon> Import JSON Keyword Data
        </button>

        <input
          #jsonMoodInput
          hidden
          type="file"
          (change)="importMoodJSON($event)"
          placeHolder="Upload JSON Data"
          accept=".json"
          single
        />
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="jsonMoodInput.click()"
        >
          <mat-icon>file_upload</mat-icon> Import JSON Mood Data
        </button>

        <input
          #csvMoodInput
          hidden
          type="file"
          (change)="importMoodCSV($event)"
          placeHolder="Upload CSV Data"
          accept=".csv"
          single
        />
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="csvMoodInput.click()"
        >
          <mat-icon>file_upload</mat-icon> Import CSV Mood Data
        </button>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
