<div class="mood-selector-content">
  <mat-card class="mood-selector-content">
      <p>How are you feeling?</p>
      <mat-action-list class="mood-selector">
        <button mat-list-item class="mood-selector-item" *ngFor="let mood of moods" [value]="mood" (click)="currentMood = mood" [ngClass]="{'highlighted': mood === currentMood}" >
          {{ mood }}
        </button>
      </mat-action-list>
      
      <br/>

      <mat-form-field>
          <input
            matInput
            type="textarea"
            placeholder="Today's activites? (Separate with spaces)"
            #keywordsInputField
          />
        </mat-form-field>
        <br/>
      <button (click)="entryDone()" mat-raised-button color="primary" [disabled]="currentMood === undefined">Done</button>    
  </mat-card>
</div>